@import "tailwindcss";

:root {
  --header-height: 90px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111827;
}

.font-company {
  font-family: var(--font-jacques);
}

.font-menu {
  font-family: var(--font-cormorant);
}


.hero-swiper .swiper-pagination {
  bottom: 24px !important;
}

.hero-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  border-radius: 999px;
  transition: all 0.35s ease;
}

.hero-swiper .swiper-pagination-bullet-active {
  width: 36px;
  background: #fff;
}